<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Untree.co">

  <meta name="description" content="" />
  <meta name="keywords" content="bootstrap, bootstrap4" />

		<!-- Bootstrap CSS -->
        {% load static %}
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
		<link href="{% static "css/tiny-slider.css" %}" rel="stylesheet">
		<link href="{% static "css/style.css" %}" rel="stylesheet">
		<title>{% block title %}{% endblock title %} | Furni</title>
	</head>

	<body>

		<!-- Start Header/Navigation -->
		<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

			<div class="container">
				<a class="navbar-brand" href="{% url "core:index" %}">Furni<span>.</span></a>

				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarsFurni">
					<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
						<li class="nav-item ">
							<a class="nav-link" href="{% url "core:index" %}">Home</a>
						</li>
					</ul>

					<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
						{% if request.user.is_authenticated %}
						<li><a class="nav-link" href="{% url "user_profile:profile" %}"><img src="{% static "images/user.svg" %}"></a></li>
                        <li><a class="nav-link" href="{% url "cart:cart" %}"><img src="{% static "images/cart.svg" %}"></a></li>
						<li class='mx-2 '><a href="{% url "user_profile:logout" %}" class="btn btn-black">Logout</a></li>
						{% else %}
						<li class='mx-2 '><a href="{% url "user_profile:login" %}" class="btn btn-primary">Login</a></li>
						<li class='mx-2 '><a href="{% url "user_profile:signup" %}" class="btn btn-primary ">Signup</a></li>
						{% endif %}
					</ul>
				</div>
			</div>

		</nav>
        <div class="p-5">
            {% block content %}

            {% endblock content %}
        </div>
    </body>
