{% extends "core/base.html" %}

{% block title %}List{% endblock title %}

{% block content %}
<h2 class='d-block mx-auto text-center'>Filters</h2>
<form action="." class="d-flex justify-content-center gap-5" method="post">

        {% csrf_token %}

        <div class="mb-3">
            <label for="" class="inline-block mb-2">Name</label><br>
            {{filter_form.name}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Category</label><br>
            {{ filter_form.category }}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Min price</label><br>
            {{filter_form.price_min}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Max price</label><br>
            {{filter_form.price_max}}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}
            </div>

            {{form.non_field_errors}}
        {% endif %}

        <button class='btn btn-black align-self-center'>Submit</button>
</form>
{% load static %}
<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">
                    {% for item in items %}
                    <div class="col-12 col-md-4 col-lg-3 mb-5">
                        <div class="product-item">
                            <a href="{% url "core:details" item.id %}" style="text-decoration: none;">
                                <img src="{{item.image.url}}" class="img-fluid product-thumbnail">
                                <h3 class="product-title">{{item.name}}</h3>
                                <strong class="product-price">{{item.price}}</strong>
                            </a>
                            <a href="{% url "cart:cart-add" product_id=item.id %}">
                                <span class="icon-cross">
                                    <img src="{% static "images/cross.svg" %}" class="img-fluid">
                                </span>
                            </a>
                        </div>
					</div>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock content %}
