{% extends "core/base.html" %}

{% block title %}Profile{% endblock title %}

{% block content %}
<h1>
    Edit your data
</h1>
<form action="." class='d-flex flex-column ' method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label for="" class="inline-block mb-2">Username</label><br>
            {{form.username}}
        </div>
        <div class="mb-3">
            <label for="" class="inline-block mb-2">Email</label><br>
            {{ form.email }}
        </div>

        {% if form.errors or form.non_field_errors %}
            <div class="mb-3 text-danger ">
                {% for field in form %}
                    {{field.errors}}
                {% endfor %}
            </div>

            {{form.non_field_errors}}
        {% endif %}
        <div class="">
        <button class='btn btn-black align-self-start mx-3 '>Submit</button>
        <a href="{% url "user_profile:change_password" %}" class='btn btn-secondary align-self-start '>Change password</a>
        </div>
    </form>
    <h1 class="my-5">Your orders</h1>
    <table class="table">
                      <thead>
                        <tr>
                            <th>Number</th>
                            <th>Status</th>
                            <th>Order date</th>
                            <th>Total price</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.id}}</td>
                            <td class="product-name">
                                <h2 class="h5 text-black">{{order.status}}</h2>
                            </td>
                            <td class="product-name">
                                <h2 class="h5 text-black">{{order.date}}</h2>
                            </td>
                            <td>{{order.unit_price}}</td>
                            <td>
                            <a href="{% url "user_profile:order_details" order.id %}">
                                See details
                        </a>
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
{% endblock content %}